@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  font-family: "Open Sans", sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.home-container {
  margin: 50px auto;
  width: 60%;
  min-width: fit-content;
  height: fit-content;
  padding: 10px 20px 20px 10px;
  border-radius: 10px;
}
.post-icon {
  padding: 5px;
  text-align: center;
  border: 1px solid #5160ce;
  border-radius: 6px;
  background-color: none;
  background: none;
  margin-right: 10px;
  color: #5160ce;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.post-comment {
  padding: 7px;
  border-top-left-radius: 5px;
  position: relative;
  border-bottom-left-radius: 5px;
  border: 1px solid #5160ce;
  top: -2px;
  outline: none;
  transition: 0.4s ease-in-out;
}
.post-comment:hover {
  border: 1px solid #5160ce;
}
.post-icon:hover {
  color: white;
  background-color: #5160ce;
}
.post-icon > i {
  text-align: center;
  margin: 0px auto;
  font-size: 20px;
}
.timeline {
  margin: 4em auto;
  margin-top: 0px;
  position: relative;
  max-width: 46em;
}

.timeline:before {
  background-color: black;
  content: "";
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}
.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #5160ce;
}
.timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 #a83279;
  -webkit-box-shadow: inset 40em 0 0 0 #a83279;
  box-shadow: inset 40em 0 0 0 #a83279;
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
}
.timeline-event-copy h3 {
  font-size: 1.75em;
}
.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
.timeline-event-copy strong {
  font-weight: 700;
}
.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #5160ce;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}
/* CREATE POST CONTAINER */
.create-post-container {
  width: fit-content;
  height: fit-content;
  margin: 30px auto;
}
.create-post-container > input {
  width: 400px;
  padding: 10px;
  font-size: 18px;
  display: block;
  height: 50px;
  resize: none;
  border-top-left-radius: 9px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.create-post-container > textarea {
  width: 400px;
  padding: 10px;
  font-size: 18px;
  height: 100px;
  resize: none;
  border-bottom-left-radius: 9px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.create-post-container > button {
  font-size: 20px;
  text-align: center;
  border: 1px solid #5160ce;
  outline: none;
  padding: 10px;
  height: 150px;
  position: relative;
  top: -68px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  background-color: white;
  color: #5160ce;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.create-post-container > button:hover {
  background-color: #5160ce;
  color: white;
}

/* SEARCH  */

.close {
  position: absolute;
  color: #fff;
  top: 20px;
  right: 50px;
  font-size: 1.7em;
  cursor: pointer;
  display: none;
  z-index: 999;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.close:hover {
  font-size: 2.4em;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/*-------------- saerch section -----------*/
.search {
  position: relative;
  left: 50%;
  margin-bottom: 100px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  width: 0;
  height: 0;
  background: #03a9f4;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.search i {
  color: #03a9f4;
  font-size: 1.7em;
  cursor: pointer;
}

.search .input {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid #eee;
  color: #eee;
  font-size: 1.3em;
  display: none;
}

.search.open {
  height: 4000px;
  width: 4000px;
}
