@import url("nav.css");
@import url("login.css");
@import url("home.css");
@import url("profile.css");
@import url("notfound.css");
@import url("post.css");
@import url("publicProfile.css");
@import url("chat.css");
@import url("friends.css");
@import url("createpost.css");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
}

body {
  background: linear-gradient(-45deg, #100f0f, #484747, #373838, #383737);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main_container {
  background-color: rgba(255, 253, 253, 0.3);
  width: 80%;
  min-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 11px;
  padding: 20px;
  margin: 70px auto;
}

.center {
  width: fit-content;
  margin: auto;
}
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.transition {
  transition: 0.3s ease-in-out;
}

/* GLOBAL CONTAINER */

.modal-container {
  diplay: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.modal-body {
  position: relative;
  top: 20%;
  margin: auto;
  width: fit-content;
  text-align: center;
}
.modal-hide {
  width: 150px;
  display: block;
  margin: 40px auto;
  border-radius: 6px;
  background-color: white;
  color: black;
  outline: none;
  border: none;
  padding: 5px;
  transition: 0.1s ease-in-out;
  color: red;
  text-transform: uppercase;

  font-weight: bold;
}
.modal-hide:hover {
  border-radius: 0px;
  transform: skewX(-10deg);
}
