.post-container {
  width: 90%;
  max-width: 1000px;
  min-width: 280px;
  margin: 40px auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px;
  border-radius: 9px;
  background-color: white;
  color: black;
}

.post-author {
  width: 100%;
  height: fit-content;
  padding: 8px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  background-color: rgba(235, 235, 235, 0.25);
  text-decoration: none;
}
.post-author-image {
  width: 50px;
  height: 50px;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
}
.post-author-image:hover {
  border-radius: 0px;
}
.post-author-name {
  display: inline;
  position: relative;
  transition: 0.3s ease-in-out;
  top: -20px;
  left: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.post-author-name:hover {
  color: skyblue;
}

.post-content {
  padding: 15px;
}
.post-title {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 800;
  transition: 0.3s ease-in-out;
}
.post-title:hover {
  background-position: 0 100%;
  margin-left: 10px;
}

/* FOOTER */
.post-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(235, 235, 235, 0.25);
}

.post-button-menu {
  top: 15px;
  position: relative;
  width: fit-content;
  margin-right: 20px;
}
.post-created {
  margin-left: 10px;
}
.post-button {
  cursor: pointer;
  padding: 5px;
  margin-right: 10px;
  font-size: 20px;
  border: none;
  background: none;
  outline: none;
  background-color: none;
}
.like {
  color: red;
}

/* COMMENTS */
.comment-container {
  width: 90%;
  max-width: 1000px;
  min-width: 380px;
  margin: 40px auto;
  background-color: white;
  border-radius: 9px;
  color: black;
}
.comment-avatar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  height: fit-content;
  display: block;
}

.comment-author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.comment-author-name {
  display: inline;
  color: black;
  font-size: 17px;
  top: -25px;
  left: 10px;
  position: relative;
}
.comment-box {
  padding: 20px;
}
.comment-footer {
  background-color: rgba(0, 0, 0, 0.02);
  width: 100%;
}
