.profile-container {
  width: 80%;
  margin: 20px auto;
  height: fit-content;
  padding: 30px;
  border-radius: 10px;
}

.alert-status {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #5161ce;
  color: white;
  border-radius: 10px;
  margin: 10px auto;
  text-transform: uppercase;
}
