.profile-container {
  /* width: 80%; */
  max-width: 1000px;
  min-width: 200px;
  margin: 100px auto;
}

.profile-card {
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 11px;
  background-color: white;
  color: black;
}

.profile-header {
  background-color: inherit !important;
  color: white;
  width: fit-content;
  margin: auto;
}

.profile-header > h1 {
  text-align: center;
  font-size: 30px;
}
.profile-header-image {
  animation-name: slideFromLeft;
  animation-duration: 2s;
  width: fit-content;
  display: inline-block;
}
.profile-header-image > img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.profile-social-stats {
  width: 50%;
  display: inline-block;
  position: relative;
  top: -50px !important;
  left: 10px;
  margin: 0px;
  animation-name: slideFromRight;
  animation-duration: 2s;
}
.stat-box {
  display: inline-block;
  text-align: center;
  margin: 10px auto;
  width: 100px;
  font-size: 20px;
  height: fit-content;
}
.stat-value {
  font-weight: bold;
}
.profile-stats-container {
  width: fit-content;
  margin: auto;
}
.profile-posts {
  background-color: inherit;
}

.profile-info-item {
  font-size: 20px;
}
.profile-info-icon {
  padding: 10px;
}
.profile-info {
  margin: 0px;
  animation-name: slideFromTop;
  animation-duration: 2s;
}
@media only screen and (max-width: 730px) {
  body {
    background-color: red;
  }
  .profile-header {
    width: 100%;
  }
  .profile-header-image {
    margin: auto;
  }
  .profile-header-image > img {
    width: 100% !important;
    height: 100% !important;
  }
  .profile-stats-container {
    max-width: 1000px;
    min-width: 280px;
  }
  .profile-social-stats {
    display: block;
    margin: 10px auto !important;
    width: 100%;
    left: 0;
    padding: 0px !important;
    top: 0px !important;
    max-width: 1000px;
    min-width: 280px;
  }
  .profile-header-image {
    width: fit-content !important;
    display: block;
  }
}

.friendMenuItem {
  background-color: white;
  width: 100%;
  margin: 10px auto;
  position: relative;
  top: 15px;
  padding: 10px;
  border-radius: 9px;
}
.friendMenuItem2 {
  background-color: none;
  width: 100%;
  margin: 10px auto;
  position: relative;
  top: 15px;
  padding: 10px;
  border-radius: 9px;
}

.center-div > button {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  color: black;
  perspective: 1000px;
  text-align: center !important;
}
.center-div > button {
  font-size: 19px;
  width: 150px;
  letter-spacing: 1px;
  transition: transform 0.25s;
  padding: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border-radius: 9px;
  background-color: white;
}
.center-div > button:hover {
  transform: scale(1.2);
  background-color: black;
  border: none;
  color: white;
}
.center-div {
  width: fit-content;
  margin: auto;
}
.center-div > span {
  font-size: 19px;
  text-align: center;
  color: black;
  transition: transform 0.25s;
  padding: 14px;
  text-align: center;
  font-family: "Montserrat";
}

.center-div > a {
  color: black;
  text-align: center;
  width: auto;
  margin: auto;
  font-size: 19px;
  transition: transform 0.25s;
  padding: 14px;
  text-align: center;
  font-family: "Montserrat";
}

.anim-top {
  animation-name: fadeIn;
  animation-duration: 2s;
}
